<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Star Match</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/bundles/main.css" />
  </head>
  <body>
    <div id="root"><%- initialMarkup -%></div>
    <script src="/bundles/main.js" type="text/javascript"></script>
    <script src="/bundles/vendor.js" type="text/javascript"></script>
  </body>
</html>
